@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700');

/*----Body Structure---*/

body {
  font-family: "Open Sans", sans-serif;
}

header {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

main, aside {
  justify-content: center;
  text-align: center;
  width: 100%;
}

main {
  background-color: #e5f3f2;
  padding-bottom: 10px;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.new-task {
  text-align: left;
  padding-bottom: 2px;
  margin-bottom: 4px;
}


/*-----Text Styling---*/

h1, h3, h4 {
  color: #6D6E71;
  font-size: 28px;
  margin-bottom: 10px;
}

h3, h4 {
  display: inline-block;
  font-size: 16px;
}

h3 {
  margin-left: 25px;
}

h4 {
  padding-left: 4px;
}

hr {
  width: 80%;
}

.entry-title, .entry-body {
  margin-left: 15px;
  max-width: 15ch;
  text-align: left;
}

.entry-title {
  display: inline-block;
  font-size: 24px;
}

.entry-body {
  color: #939598;
  display: block;
  font-size: 16px;
  width: 90%;
}


/*-----Interactivity Styling----*/

input[type="text"], textarea {
  border-color: #939598;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
  margin-bottom: 8px;
  padding-left: 3px;
  width: 80%;
}

input[type="text"] {
  height: 25px;
}

textarea {
  margin-bottom: 0px;
  margin-top: 7px;
  height: 70px;
}

button {
  font-family: "Open Sans", sans-serif;
  border-style: none;
  border-radius: 50px;
  border-width: 0px;
  color: #ffffff;
  outline: none;
}

#todobox {
  color: #00a79d;
}

#submit, .show-complete, .show-more-todos, .task-complete {
  background-color: #00a79d;
  border-radius: 0px;
}

#submit {
  display: block;
  margin: 15px auto 18px auto;
  width: 82%;
  height: 35px;
}

.show-complete, .show-more-todos {
  margin: 5px;
  width: 82%;
  height: 30px;
  font-size: 85%;
}

#submit:hover {
  background-color: #045e55;
}

#submit:disabled {
  background-color: #5e8480;
}

#importance-filter {
  margin: 10px auto 5px auto;
  border-color: #939598;
  width: 79%;
  text-align: left;
  color: #6D6E71;
  padding: 5px
}

legend {
  text-align: center;
}

label {

}

.filters-box {
  display: flex;
  justify-content: space-around;
}

.importance-radio-button {
  margin-right: 6px;
  margin-left: 2px;
  margin-bottom: 4px;
}

#search {
  height: 25px;
  margin-bottom: 18px;
  margin-top: 10px;
}

.delete, .upvote, .downvote {
  background-color: none;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20px;
  width: 20px;
}

.delete {
  background-image: url("images/delete.svg");
  display: inline;
  float: right;
  margin-top: 18px;
  margin-right: 15px;
  position: relative;
}

.delete:hover {
  background-image: url("images/delete-hover.svg");
}

.upvote {
  background-image: url("images/upvote.svg");
  margin-left: 15px;
}

.upvote:hover {
  background-image: url("images/upvote-hover.svg");
}

.downvote {
  background-image: url("images/downvote.svg");
  margin-left: 10px;
}

.downvote:hover {
  background-image: url("images/downvote-hover.svg");
}

.task-complete {
  display: block;
  margin: 5px auto 5px auto;
  width: 82%;
  height: 30px;
  font-size: 85%;
}

.completed {
  background-color: #848484;
}


/*----Media Queries ----*/

@media screen and (min-width: 480px) {

  aside {
    margin: 0 auto;
    width: 500px;
  }

  form {
    margin: 0 auto;
    width: 500px;
  }

  .show-complete, .show-more-todos {
    max-width: 195px;
  }

  .task-complete {
    max-width: 280px;
  }

}

@media screen and (min-width: 960px) {

  textarea {
    height: 25px;
  }

  aside {
    width: 700px;
    margin 0 auto;
  }

  form {
    width: 700px;
    margin: 0 auto;
  }

  hr {
    width: 100%;
  }

  div header, div article {
    width: 95%;
  }

  .show-complete, .show-more-todos {
    max-width: 280px;
  }

  #search {
    width: 80%;
  }

  .entry-title, .entry-body {
    max-width: 35ch;
  }

  .entry-title, .entry-body, .upvote {
    margin-left: 0;
  }

  .new-task {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #importance-filter {
    text-align: center;
  }

  .filters-box {
    display: inline-block;
  }

  label {
    margin-left: 5px;
    margin-right: 5px;
  }

  .task-complete {
    max-width: 320px;
  }

  .logo {
    font-size: 42px;
    margin-bottom: 28px;
  }
}
